<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teach+</title>
  <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/lessons.css">
  <link rel="shortcut icon" href="../assets/image/logo.png" type="image/x-icon">

  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/games.css">

</head>

<body>
  <header>
    <div class="info">
      <div class="logo">
        <img src="../assets/image/logo.png" alt="logo">
        <h1>teach+</h1>
      </div>
      <div class="title">
        <span>
          ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
        </span>
      </div>
    </div>
    <nav>
      <div class="navigation">
        <a class="navigation__link" href="welcome.html">Գլխավոր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="materials5.html">5֊րդ դասարանի տեսական նյութեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="materials6.html">6֊րդ դասարանի տեսական նյութեր</a>
          </div>
        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="videos5.html">5֊րդ դասարանի Տեսադասեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="videos6.html">6֊րդ դասարանի Տեսադասեր</a>
          </div>
        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="lessons5.html">5֊րդ դասարանի Գործնական աշխատանքներ</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lessons6.html">6֊րդ դասարանի Գործնական աշխատանքներ</a>
          </div>

        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="tests5.html">5֊րդ դասարանի թեստեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="tests6.html">6֊րդ դասարանի թեստեր</a>
          </div>
        </div>

        <a class="navigation__link" href="welcome.html#contactus">Կապ մեզ հետ</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="games5.html">5֊րդ դասարանի խաղեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="games6.html">6֊րդ դասարանի խաղեր</a>
          </div>
        </div>

        <a class="navigation__link" href="newLessons.html">նոր դասեր</a>

        <a itemid="login" class="navigation__link" id="login" href="login.html">մուտք</a>

        <div id="isNotAdmin" class="navigation__link_container">
          <a class="navigation__link" href="createNewLessons.html">Դասերի ստեղծում</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lookContact.html">Նամակներ</a>
            <a class="navigation__link" href="logout.html">Դուրս գալ</a>
          </div>
        </div>
      </div>
    </nav>
  </header>







  <div class="games-section">
    <div class="games-container">
      <div class="games-title">Խաղա Ուղիղ Կայքում 📚🎮</div>

      <div class="game-frame">
        <iframe style="max-width:100%"
          src="https://wordwall.net/embed/df29e733a56e44779a69c0fd5c3d23c5?themeId=43&templateId=5&fontStackId=0"
          width="500" height="380" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="game-frame">
        <iframe style="max-width:100%"
          src="https://wordwall.net/embed/09be885500f8458fa65c2b39b836a218?themeId=2&templateId=36&fontStackId=0"
          width="500" height="380" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="game-frame">
        <iframe style="max-width:100%"
          src="https://wordwall.net/embed/ecf61f8d8cd840b1b65cfce822abc0fb?themeId=1&templateId=8&fontStackId=0"
          width="500" height="380" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>






  <script src="../script/auth.js"></script>

</body>

</html>