<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teach+</title>
    <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/tests.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/login.css">

</head>

<body>
    <header>
        <div class="info">
            <div class="logo">
                <img src="../image/logo.png" alt="logo">
                <h1>teach+</h1>
            </div>
            <div class="title">
                <span>
                    ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
                </span>
            </div>
        </div>
        <nav>
            <div class="menu">
                <ul>
                    <li onclick="location.href='welcome.html'">Գլխավոր</li>
                <select  onchange="location.href=this.value">
                <option value="materials5.html">5֊րդ դասարանի տեսական նյութեր</option>
                <option value="materials6.html">6֊րդ դասարանի տեսական նյութեր</option>
          </select>
                    <li onclick="location.href='videos.html'">Տեսադասեր</li>
                    <select  onchange="location.href=this.value">
                <option value="lessons5.html">5֊րդ դասարանի Գործնական աշխատանքներ</option>
                <option value="lessons6.html">6֊րդ դասարանի Գործնական աշխատանքներ</option>
              </select>
                                        <select  onchange="location.href=this.value">
                        <option value="tests5.html">5֊րդ դասարանի թեստեր</option>
                        <option value="tests6.html">6֊րդ դասարանի թեստեր</option>
                      </select> 
                    <li onclick="location.href='welcome.html'">Կապ մեզ հետ</li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="main0">
        <h1>Մուտք գործել</h1>
        <form onsubmit="login(event)">
            <div class="email_password">
                <label>
                    <h2>Էլ. հասցե</h2>
                    <input id="email" type="email" placeholder="Էլ. հասցե">
                </label>
                <label>
                    <h2>Գաղտնաբառ</h2>
                    <input id="password" type="password" placeholder="Գաղտնաբառ">
                </label>
            </div>

            <div class="button">
                <input type="submit" value="Մուտք գործել">
                <a href="welcome.html">Անցնել առանց գրանցման</a>
            </div>

            <p id="error"></p>
        </form>
    </div>
    <script src="../script/request.js"></script>

</body>

</html>