<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teach+</title>
  <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/materials.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="shortcut icon" href="../assets/image/logo.png" type="image/x-icon">

</head>

<body>
  <header>
    <div class="info">
      <div class="logo">
        <img src="../assets/image/logo.png" alt="logo">
        <h1>teach+</h1>
      </div>
      <div class="title">
        <span>
          ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
        </span>
      </div>
    </div>
    <nav>
      <div class="navigation">
        <a class="navigation__link" href="welcome.html">Գլխավոր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="materials5.html">5֊րդ դասարանի տեսական նյութեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="materials6.html">6֊րդ դասարանի տեսական նյութեր</a>
          </div>
        </div>

        <a class="navigation__link" href="videos5.html">Տեսադասեր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="lessons5.html">5֊րդ դասարանի Գործնական աշխատանքներ</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lessons6.html">6֊րդ դասարանի Գործնական աշխատանքներ</a>
          </div>

        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="tests5.html">5֊րդ դասարանի թեստեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="tests6.html">6֊րդ դասարանի թեստեր</a>
          </div>
        </div>

        <a class="navigation__link" href="welcome.html#contactus">Կապ մեզ հետ</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="games5.html">5֊րդ դասարանի խաղեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="games6.html">6֊րդ դասարանի խաղեր</a>
          </div>
        </div>

        <a class="navigation__link" href="newLessons.html">նոր դասեր</a>

        <a itemid="login" class="navigation__link" id="login" href="login.html">մուտք</a>

        <div id="isNotAdmin" class="navigation__link_container">
          <a class="navigation__link" href="createNewLessons.html">Դասերի ստեղծում</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lookContact.html">Նամակներ</a>
            <a class="navigation__link" href="logout.html">Դուրս գալ</a>
          </div>
        </div>
      </div>
    </nav>
  </header>


  <div class="section1">
    <h1>Տեսական նյութեր</h1>
    <section class="cards">

      <ol class="cards__container" title="Blog entries">

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_5/theoric_materials/banners/ԱԼԳՈՐԻԹՄ  ՀԱՍԿԱՑՈՒԹՅՈՒՆԸ.png"
              alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ԱԼԳՈՐԻԹՄ ՀԱՍԿԱՑՈՒԹՅՈՒՆԸ</h3>
            <p class="card__text">
              ՀՍՏԱԿ ԵՒ ՃՇԳՐԻՏ ԳՈՐԾՈՂՈՒԹՅՈՒՆՆԵՐԻ ՀԱՋՈՐԴԱԿԱՆՈՒԹՅՈՒՆԸ, ՈՐԻ ԻՐԱԿԱՆԱՑՈՒՄԸ ՀԱՆԳԵՑՆՈՒՄ Է ԽՆԴՐԻ ԼՈՒԾՄԱՆԸ,
              ԿՈՉՎՈՒՄ Է ԱԼԳՈՐԻԹՄ։
            </p>
            <a href="../assets/grade_5/theoric_materials/pdf/ԱԼԳՈՐԻԹՄ  ՀԱՍԿԱՑՈՒԹՅՈՒՆԸ.pdf" class="card__btn"
              target="_blank">Դիտել</a>
          </div>
        </li>

        <li class="card">
          <div class="card__thumb">
            <img class="animate"
              src="../assets/grade_5/theoric_materials/banners/ԱԼԳՈՐԻԹՄՆԵՐՆ ԱՌՕՐՅԱ ԿՅԱՆՔՈՒՄ և ԴՐԱՆՑ ՏԵՍԱԿՆԵՐԸ.png"
              alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ԱԼԳՈՐԻԹՄՆԵՐՆ ԱՌՕՐՅԱ ԿՅԱՆՔՈՒՄ և ԴՐԱՆՑ ՏԵՍԱԿՆԵՐԸ</h3>
            <p class="card__text">
              Առօրյա կյանքում մենք նույնիսկ չենք նկատում, թեինչպես ենք օգտագործում տարբեր ալգորիթմներ։ Սովորում ենք
              հաշվել, տեսակավորել, քայլել, կապել կոշիկների քուղերը եւ այլն:
            </p>
            <a href="../assets/grade_5/theoric_materials/pdf/ԱԼԳՈՐԻԹՄՆԵՐՆ ԱՌՕՐՅԱ ԿՅԱՆՔՈՒՄ և ԴՐԱՆՑ ՏԵՍԱԿՆԵՐԸ.pdf"
              class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

        <li class="card">
          <div class="card__thumb">
            <img class="animate"
              src="../assets/grade_5/theoric_materials/banners/ՏԵՔՍՏԱՅԻՆ ԽՄԲԱԳՐԻՉՆԵՐՈՒՄ ԱՂՅՈՒՍԱԿՆԵՐԻ ԵՎ ՊԱՏԿԵՐՆԵՐԻ ՏԵՂԱԴՐՈՒՄԸ.png"
              alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ՏԵՔՍՏԱՅԻՆ ԽՄԲԱԳՐԻՉՆԵՐՈՒՄ ԱՂՅՈՒՍԱԿՆԵՐԻ ԵՎ ՊԱՏԿԵՐՆԵՐԻ ՏԵՂԱԴՐՈՒՄԸ</h3>
            <p class="card__text">
              ՏԵՔՍՏԻՑ ԲԱՑԻ ՈՒՐԻՇ Ի՞ՆՉ ԿԱՐԵԼԻ Է ՆԵՐՄՈՒԾԵԼ ՏԵՔՍՏԱՅԻՆ ՓԱՍՏԱԹՈՒՂԹ։
            </p>
            <a href="../assets/grade_5/theoric_materials/pdf/ՏԵՔՍՏԱՅԻՆ ԽՄԲԱԳՐԻՉՆԵՐՈՒՄ ԱՂՅՈՒՍԱԿՆԵՐԻ ԵՎ ՊԱՏԿԵՐՆԵՐԻ ՏԵՂԱԴՐՈՒՄԸ.pdf"
              class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_5/theoric_materials/banners/ՏՎՅԱԼՆԵՐԻ ՊԱՀՊԱՆՄԱՆ ՄԵԽԱՆԻԶՄՆԵՐ.png"
              alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ՏՎՅԱԼՆԵՐԻ ՊԱՀՊԱՆՄԱՆ ՄԵԽԱՆԻԶՄՆԵՐ</h3>
            <p class="card__text">
              Տվյալների պահպանումը գիտելիքի կուտակման և փոխանցման միջոց է, որը հնարավորություն է տալիս կիրառել արդեն
              գոյություն ունեցող տվյալները
            </p>
            <a href="../assets/grade_5/theoric_materials/pdf/ՏՎՅԱԼՆԵՐԻ ՊԱՀՊԱՆՄԱՆ ՄԵԽԱՆԻԶՄՆԵՐ.pdf" class="card__btn"
              target="_blank">Դիտել</a>
          </div>
        </li>

      </ol>
    </section>
  </div>
  <script src="../script/auth.js"></script>

</body>

</html>