<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teach+</title>
  <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/materials.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <header>
    <div class="info">
      <div class="logo">
        <img src="../assets/image/logo.png" alt="logo">
        <h1>teach+</h1>
      </div>
      <div class="title">
        <span>
          ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
        </span>
      </div>
    </div>
    <nav>
      <div class="navigation">
        <a class="navigation__link" href="welcome.html">Գլխավոր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="materials5.html">5֊րդ դասարանի տեսական նյութեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="materials6.html">6֊րդ դասարանի տեսական նյութեր</a>
          </div>
        </div>

        <a class="navigation__link" href="videos.html">Տեսադասեր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="lessons5.html">5֊րդ դասարանի Գործնական աշխատանքներ</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lessons6.html">6֊րդ դասարանի Գործնական աշխատանքներ</a>
          </div>

        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="tests5.html">5֊րդ դասարանի թեստեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="tests6.html">6֊րդ դասարանի թեստեր</a>
          </div>
        </div>

        <a class="navigation__link" href="welcome.html#contactus">Կապ մեզ հետ</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="games5.html">5֊րդ դասարանի խաղեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="games6.html">6֊րդ դասարանի խաղեր</a>
          </div>
        </div>

        <a class="navigation__link" href="newLessons.html">նոր դասեր</a>

        <a itemid="login" class="navigation__link" id="login" href="login.html">մուտք</a>

        <div id="isNotAdmin" class="navigation__link_container">
          <a class="navigation__link" href="createNewLessons.html">Դասերի ստեղծում</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lookContact.html">Նամակներ</a>
            <a class="navigation__link" href="logout.html">Դուրս գալ</a>
          </div>
        </div>
      </div>
    </nav>
  </header>


  <div class="section1">
    <h1>Տեսական նյութեր</h1>
    <section class="cards">

      <ol class="cards__container" title="Blog entries">

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_6/theoric_materials/banners/1.png" alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐԻ ՊԱՇՏՊԱՆՈՒԹՅՈՒՆ</h3>
            <p class="card__text">
              ՏՎՅԱԼՆԵՐԻ ԳՈՂՈՒԹՅՈՒՆԸ ԷԼԵԿՏՐՈՆԱՅԻՆ
              ՍԱՐՔԵՐՈՒՄ ԿԱՄ ՀԱՄԱՑԱՆՑՈՒՄ ՊԱՀՎՈՂ
              ԹՎԱՅԻՆ ՏԵՂԵԿՈՒՅԹԻ ԳՈՂՈՒԹՅՈՒՆՆ Է։
            </p>
            <a href="../assets/grade_6/theoric_materials/pdf/1.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_6/theoric_materials/banners/2.png" alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ԳՐԱՖԻԿԱԿԱՆ ԽՄԲԱԳՐԻՉԻ ՀՆԱՐԱՎՈՐՈՒԹՅՈՒՆՆԵՐԸ</h3>
            <p class="card__text">
              Գրաֆիկական խմբագրիչը ծրագիր է, որը
              նախատեսված է նկարներ, բացիկներ, գովազդներ,
              նկարազարդումներ եւ այլ պատկերներ ստեղծելու
              համար:
            </p>
            <a href="../assets/grade_6/theoric_materials/pdf/2.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_6/theoric_materials/banners/3.png" alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ԷԼԵԿՏՐՈՆԱՅԻՆ ԱՂՅՈՒՍԱԿ</h3>
            <p class="card__text">
              ԷԼԵԿՏՐՈՆԱՅԻՆ ԱՂՅՈՒՍԱԿԻ ՍՏԵՂԾՄԱՆՊԱՏՄՈՒԹՅՈՒՆԸ
            </p>
            <a href="../assets/grade_6/theoric_materials/pdf/3.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_6/theoric_materials/banners/4.png" alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ՀԱՇՎԱՐԿՄԱՆ ՀԱՄԱԿԱՐԳԵՐ</h3>
            <p class="card__text">
              Հաշվարկման համակարգը որոշակի նշանների՝ պայմանանշանների, թվերի կամ տառերի միջոցովքանակական արժեքներն ու
              մեծությունները ներկայացնելու մեթոդ է:
            </p>
            <a href="../assets/grade_6/theoric_materials/pdf/4.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>



        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_6/theoric_materials/banners/5.png" alt="image" />
          </div>
          <div class="card__content">
            <h3 class="card__title">ՆԻՇՔԵՐԸ ԵՎ ԴՐԱՆՑ ՏԵՍԱԿՆԵՐԸ</h3>
            <p class="card__text">
              Համակարգչային նիշքը
              (file) համակարգչի
              հիշողությունում որոշակի
              տարածք զբաղեցնող եւ
              որոշակի անվանումով
              պահպանված տեղեկույթ է: </p>
            <a href="../assets/grade_6/theoric_materials/pdf/5.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

      </ol>
    </section>
  </div>
  <script src="../script/auth.js"></script>

</body>

</html>