<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teach+</title>
  <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/tests.css">
  <link rel="shortcut icon" href="../assets/image/logo.png" type="image/x-icon">

  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <header>
    <div class="info">
      <div class="logo">
        <img src="../assets/image/logo.png" alt="logo">
        <h1>teach+</h1>
      </div>
      <div class="title">
        <span>
          ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
        </span>
      </div>
    </div>

    <nav>
      <div class="navigation">
        <a class="navigation__link" href="welcome.html">Գլխավոր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="materials5.html">5֊րդ դասարանի տեսական նյութեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="materials6.html">6֊րդ դասարանի տեսական նյութեր</a>
          </div>
        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="videos5.html">5֊րդ դասարանի Տեսադասեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="videos6.html">6֊րդ դասարանի Տեսադասեր</a>
          </div>
        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="lessons5.html">5֊րդ դասարանի Գործնական աշխատանքներ</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lessons6.html">6֊րդ դասարանի Գործնական աշխատանքներ</a>
          </div>

        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="tests5.html">5֊րդ դասարանի թեստեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="tests6.html">6֊րդ դասարանի թեստեր</a>
          </div>
        </div>

        <a class="navigation__link" href="welcome.html#contactus">Կապ մեզ հետ</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="games5.html">5֊րդ դասարանի խաղեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="games6.html">6֊րդ դասարանի խաղեր</a>
          </div>
        </div>

        <a class="navigation__link" href="newLessons.html">նոր դասեր</a>

        <a itemid="login" class="navigation__link" id="login" href="login.html">մուտք</a>

        <div id="isNotAdmin" class="navigation__link_container">
          <a class="navigation__link" href="createNewLessons.html">Դասերի ստեղծում</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lookContact.html">Նամակներ</a>
            <a class="navigation__link" href="logout.html">Դուրս գալ</a>
          </div>
        </div>
      </div>
    </nav>
  </header>


  <div class="section1">
    <h1>Թեստեր</h1>
    <section class="cards">

      <a class="test" href="https://docs.google.com/forms/d/e/1FAIpQLSdk5ix0-fToMmDs56Y_7pLcxwzi_eMY8bnFeEsuNBO1lpavXQ/viewform?usp=header" target="_blank">
        <div class="test__leftContainer">
          <img class="test__img" src="../assets/grade_5/tests/1.jpg" alt="img">
        </div>

        <div class="test__rightContainer">
          <div class="right_header">
            <p class="test__headerText">Թեստ 1</p>
            <p class="test__description">ԱԼԳՈՐԻԹՄ ՀԱՍԿԱՑՈՒԹՅՈՒՆԸ</p>
          </div>
          <div class="right_footer">
            <p class="test__title">գնալ թեստի</p>
          </div>
        </div>
      </a>

      <a class="test" href="https://docs.google.com/forms/d/e/1FAIpQLSeFPY59nL1EfR16xzA1TMBGDy3zSmeyFRpvWlOtRQcQd4jpkA/viewform?usp=header" target="_blank">
        <div class="test__leftContainer">
          <img class="test__img" src="../assets/grade_5/tests/2.jpg" alt="img">
        </div>

        <div class="test__rightContainer">
          <div class="right_header">
            <p class="test__headerText">Թեստ 2</p>
            <p class="test__description">ՏԵՔՍՏԱՅԻՆ  ԽՄԲԱԳՐԻՉ</p>
          </div>
          <div class="right_footer">
            <p class="test__title">գնալ թեստի</p>
          </div>
        </div>
      </a>

      <a class="test" href="https://docs.google.com/forms/d/e/1FAIpQLScgwk62VGZKsH_y15uBsQIR3XDssjACGdyyYOMsOk9ekzJe3g/viewform?usp=header" target="_blank">
        <div class="test__leftContainer">
          <img class="test__img" src="../assets/grade_5/tests/3.jpg" alt="img">
        </div>

        <div class="test__rightContainer">
          <div class="right_header">
            <p class="test__headerText">Թեստ 3</p>
            <p class="test__description">ՏԵՔՍՏԱՅԻՆ ԽՄԲԱԳՐԻՉՆԵՐՈՒՄ ԱՂՅՈՒՍԱԿՆԵՐԻ ԵՎ ՊԱՏԿԵՐՆԵՐԻ ՏԵՂԱԴՐՈՒՄԸ</p>
          </div>
          <div class="right_footer">
            <p class="test__title">գնալ թեստի</p>
          </div>
        </div>
      </a>

      <a class="test" href="https://docs.google.com/forms/d/e/1FAIpQLScd0eroFKgkMjTUUEcJgjCxJaPZ81oTrD_3KIVg1eYxCLJVFw/viewform?usp=header" target="_blank">
        <div class="test__leftContainer">
          <img class="test__img" src="../assets/grade_5/tests/4.jpg" alt="img">
        </div>

        <div class="test__rightContainer">
          <div class="right_header">
            <p class="test__headerText">Թեստ 4</p>
            <p class="test__description">ԱԼԳՈՐԻԹՄ ՀԱՍԿԱՑՈՒԹՅՈՒՆԸ</p>
          </div>
          <div class="right_footer">
            <p class="test__title">գնալ թեստի</p>
          </div>
        </div>
      </a>

    </section>
  </div>


  <script src="../script/auth.js"></script>
</body>

</html>