<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teach+</title>
  <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/tests.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <header>
    <div class="info">
      <div class="logo">
        <img src="../assets/image/logo.png" alt="logo">
        <h1>teach+</h1>
      </div>
      <div class="title">
        <span>
          ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
        </span>
      </div>
    </div>

    <nav>
      <div class="navigation">
        <a class="navigation__link" href="welcome.html">Գլխավոր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="materials5.html">5֊րդ դասարանի տեսական նյութեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="materials6.html">6֊րդ դասարանի տեսական նյութեր</a>
          </div>
        </div>

        <a class="navigation__link" href="videos.html">Տեսադասեր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="lessons5.html">5֊րդ դասարանի Գործնական աշխատանքներ</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lessons6.html">6֊րդ դասարանի Գործնական աշխատանքներ</a>
          </div>

        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="tests5.html">5֊րդ դասարանի թեստեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="tests6.html">6֊րդ դասարանի թեստեր</a>
          </div>
        </div>

        <a class="navigation__link" href="welcome.html#contactus">Կապ մեզ հետ</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="games5.html">5֊րդ դասարանի խաղեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="games6.html">6֊րդ դասարանի խաղեր</a>
          </div>
        </div>

        <a class="navigation__link" href="newLessons.html">նոր դասեր</a>

        <a itemid="login" class="navigation__link" id="login" href="login.html">մուտք</a>

        <div id="isNotAdmin" class="navigation__link_container">
          <a class="navigation__link" href="createNewLessons.html">Դասերի ստեղծում</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lookContact.html">Նամակներ</a>
            <a class="navigation__link" href="logout.html">Դուրս գալ</a>
          </div>
        </div>
      </div>
    </nav>
  </header>


  <div class="section1">
    <h1>Թեստեր</h1>
    <section class="cards">
      <div class="box">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfh-kV0zKwK3Gjf4SVAwGhHXCw5ILRHngBjixYtt6DcJlpKcA/viewform"
          target="_blank">
          <h3>Թեստ 1</h3>
          <span>ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐԻ ՊԱՇՏՊԱՆՈՒԹՅՈՒՆ </span>
        </a>
      </div>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfEh9KqRMLL9x6rC6Mnhhj5tPX5glT-ryTJbQDVsseYks7p4Q/viewform"
        target="_blank">
        <div class="box">
          <h3>Թեստ 2</h3>
          <span>ՀԱՇՎԱՐԿՄԱՆ ՀԱՄԱԿԱՐԳԵՐ </span>
        </div>
      </a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYagwIFU1yoAfvaqbnas-MzQ2uTlI1z9YdQQ1oSavVY65g5A/viewform"
        target="_blank">
        <div class="box">
          <h3>Թեստ 3</h3>
          <span>ՆԻՇՔԵՐԸ ԵՎ ԴՐԱՆՑ ՏԵՍԱԿՆԵՐԸ </span>
        </div>
      </a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfv-rB_amY77xFm69flSlGsSrkrGAaX2qcwxb4gdXKjOp_d5w/viewform"
        target="_blank">

        <div class="box">
          <h3>Թեստ 4</h3>
          <span>ԳՐԱՖԻԿԱԿԱՆ ԽՄԲԱԳՐԻՉԻ ՀՆԱՐԱՎՈՐՈՒԹՅՈՒՆՆԵՐԸ
          </span>
        </div>
      </a>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd1WfS4qkRqCoSJ5r1CY9SjH8wyCuvOxE2EzUkHuPRAwBYeyA/viewform"
        target="_blank">

        <div class="box">
          <h3>Թեստ 5</h3>
          <span> ԷԼԵԿՏՐՈՆԱՅԻՆ ԱՂՅՈՒՍԱԿՆԵՐ </span>
        </div>
      </a>
    </section>


  </div>


  <script src="../script/auth.js"></script>
</body>

</html>