<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teach+</title>
  <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
  <link rel="shortcut icon" href="../assets/image/logo.png" type="image/x-icon">

  <link rel="stylesheet" href="../styles/videos.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <header>
    <div class="info">
      <div class="logo">
        <img src="../assets/image/logo.png" alt="logo">
        <h1>teach+</h1>
      </div>
      <div class="title">
        <span>
          ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
        </span>
      </div>
    </div>

    <nav>
      <div class="navigation">
        <a class="navigation__link" href="welcome.html">Գլխավոր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="materials5.html">5֊րդ դասարանի տեսական նյութեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="materials6.html">6֊րդ դասարանի տեսական նյութեր</a>
          </div>
        </div>

        <a class="navigation__link" href="videos.html">Տեսադասեր</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="lessons5.html">5֊րդ դասարանի Գործնական աշխատանքներ</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lessons6.html">6֊րդ դասարանի Գործնական աշխատանքներ</a>
          </div>

        </div>

        <div class="navigation__link_container">
          <a class="navigation__link" href="tests5.html">5֊րդ դասարանի թեստեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="tests6.html">6֊րդ դասարանի թեստեր</a>
          </div>
        </div>

        <a class="navigation__link" href="welcome.html#contactus">Կապ մեզ հետ</a>

        <div class="navigation__link_container">
          <a class="navigation__link" href="games5.html">5֊րդ դասարանի խաղեր</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="games6.html">6֊րդ դասարանի խաղեր</a>
          </div>
        </div>

        <a class="navigation__link" href="newLessons.html">նոր դասեր</a>

        <a itemid="login" class="navigation__link" id="login" href="login.html">մուտք</a>

        <div id="isNotAdmin" class="navigation__link_container">
          <a class="navigation__link" href="createNewLessons.html">Դասերի ստեղծում</a>
          <div class="navigation__link_container_dropdown">
            <a class="navigation__link" href="lookContact.html">Նամակներ</a>
            <a class="navigation__link" href="logout.html">Դուրս գալ</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="section1">
    <h1>Տեսադասեր</h1>
    <div id="videos">

      <div class="blog-card">
        <div class="meta">
          <div class="details"><img
              src="https://www.freeiconspng.com/thumbs/play-button-icon-png/play-button-icon-png-0.png" alt=""></div>
          <video width="320" height="240" controls>
            <source id="videoSource" src="../assets/grade_5/videos/Նկար, գծապատկեր.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="description">
          <h1>Նկար, գծապատկեր</h1>
          <h2>Տեսադասեր</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae reprehenderit tenetur unde totam corrupti
            placeat eligendi vel ullam quas laudantium. Omnis necessitatibus exercitationem nulla laudantium, dicta
            dolore delectus veritatis commodi?
          </p>
        </div>
      </div>

      <div class="blog-card alt">
        <div class="meta">
          <div class="details"><img
              src="https://www.freeiconspng.com/thumbs/play-button-icon-png/play-button-icon-png-0.png" alt=""></div>

          <video width="320" height="240" controls>
            <source id="videoSource" src="../assets/grade_5/videos/Տեքստային խմբագրիչ.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="description">
          <h1>Տեքստային խմբագրիչ</h1>
          <h2>Տեսադասեր</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae reprehenderit tenetur unde totam corrupti
            placeat eligendi vel ullam quas laudantium. Omnis necessitatibus exercitationem nulla laudantium, dicta
            dolore delectus veritatis commodi?
          </p>
        </div>
      </div>

      <div class="blog-card">
        <div class="meta">
          <div class="details"><img
              src="https://www.freeiconspng.com/thumbs/play-button-icon-png/play-button-icon-png-0.png" alt=""></div>

          <video width="320" height="240" controls>
            <source id="videoSource" src="../assets/grade_5/videos/Տեքստի ձևաչափ.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="description">
          <h1>Տեքստի ձևաչափ</h1>
          <h2>Տեսադասեր</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae reprehenderit tenetur unde totam corrupti
            placeat eligendi vel ullam quas laudantium. Omnis necessitatibus exercitationem nulla laudantium, dicta
            dolore delectus veritatis commodi?
          </p>
        </div>
      </div>

      <div class="blog-card alt">
        <div class="meta">
          <div class="details"><img
              src="https://www.freeiconspng.com/thumbs/play-button-icon-png/play-button-icon-png-0.png" alt=""></div>

          <video width="320" height="240" controls>
            <source id="videoSource" src="../assets/grade_5/videos/Օրացույց.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="description">
          <h1>Օրացույց</h1>
          <h2>Տեսադասեր</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae reprehenderit tenetur unde totam corrupti
            placeat eligendi vel ullam quas laudantium. Omnis necessitatibus exercitationem nulla laudantium, dicta
            dolore delectus veritatis commodi?
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="../script/auth.js"></script>

</body>

</html>