
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teach+</title>
    <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/tests.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/login.css">

</head>
<body>
    <header>
        <div class="info">
            <div class="logo">
                <img src="../image/logo.png" alt="logo">
                <h1>teach+</h1>
            </div>
            <div class="title">
                <span>
                    ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
                </span>
            </div>
        </div>
        <nav>
            <div class="menu">
                <ul>
                    <li onclick="location.href='welcome.html'">Գլխավոր</li>
                    <li onclick="location.href='materials.html'">Տեսական նյութեր</li>
                    <li onclick="location.href='videos.html'">Տեսադասեր</li>
                    <li onclick="location.href='lessons.html'">Գործնական աշխատանքներ</li>
                    <li onclick="location.href='tests.html'">Թեստեր</li>
                    <li  onclick="location.href='welcome.html'">Կապ մեզ հետ</li>
                </ul>
            </div>
        </nav>
    </header>
    <div >
        <form onsubmit="createLEsson(event)">
    
                        <input type="text" class="form-control" id="title" placeholder="title">
                        <textarea  id="text" type="text" class="form-control" id="text" placeholder="text"></textarea>
                    <input class="btn btn-primary w-100 py-3" type="submit" value="Create Lesson">
                
        </form>
    </div>
    
    
    <script src="../script/request.js"></script>
</body>
</html>

