<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <!-- Header -->
     <header>
        <div class="firstHead">
            <div class="logo">
                <img src="../images/logo.png" alt="logo">
                <a href="">Teach+</a>
           </div>
        </div>
        <nav>
            <div class="menu">
                <ul>
                    <li onclick="location.href='index.html'">Գլխավոր</li>
                    <li onclick="location.href='materials.html'">Տեսական նյութեր</li>
                    <li onclick="location.href='videos.html'">Տեսադասեր</li>
                    <li onclick="location.href='lessons.html'">Գործնական աշխատանքներ</li>
                    <li onclick="location.href='tests.html'">Թեստեր</li>
                    <li onclick="location.href='help.html'">Կապ մեզ հետ</li>
                    <!-- <div class="dropdown">
                                <span>Գործնական աշխատանքներ</span>
                                <div class="dropdown-content">
                                    <p>Hello World!</p>
                                    <p>Hello World!</p>
                                    <p>Hello World!</p>
                                    <p>Hello World!</p>
                                    <p>Hello World!</p>
                                </div>
                            </div>  -->
                </ul>
            </div>
        </nav>
     </header>


    <div class="section1">
            <div class="text">
                <h1>ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ</h1>
                <p>Բարև սիրելի աշակերտ, <br>
                    <br>

                    Այս կայքը նախատեսված է ինֆորմատիկայի դասերի համար, որտեղ դուք կարող եք ծանոթանալ դասական նյութերին, անցկացնել ինքնուրույն աշխատանքներ և կատարել վարժություններ, որոնք կնպաստեն Ձեր համակարգչային գիտելիքների խորացմանը:</p>
                <button>Սկսել</button>
            </div>
            <div class="video">
                <img src="../images/video.png" alt="video">
            </div>
    </div>
          

    
</body>
</html>





<!--1admin(login password)
post(get post )
games page:
tesakan - gorcnakan (tesqi popoxutyun)
nuteri texadrum:
-->