<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teach+</title>
  <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/materials.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <header>
    <div class="info">
      <div class="logo">
        <img src="../image/logo.png" alt="logo">
        <h1>teach+</h1>
      </div>
      <div class="title">
        <span>
          ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
        </span>
      </div>
    </div>
    <nav>
      <div class="menu">
        <ul>
          <li onclick="location.href='welcome.html'">Գլխավոր</li>
          <li onclick="location.href='materials.html'">Տեսական նյութեր</li>
          <li onclick="location.href='videos.html'">Տեսադասեր</li>
          <li onclick="location.href='lessons.html'">Գործնական աշխատանքներ</li>
          <li onclick="location.href='tests.html'">Թեստեր</li>
          <li onclick="location.href='welcome.html'">Կապ մեզ հետ</li>
          <li onclick="location.href='games.html'">Games</li>
        </ul>
      </div>
    </nav>
  </header>


  <div class="section1">
    <h1>Տեսական նյութեր</h1>
    <section class="cards">

      <ol class="cards__container" title="Blog entries">

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_5/theoric_materials/banners/ԱԼԳՈՐԻԹՄ  ՀԱՍԿԱՑՈՒԹՅՈՒՆԸ.png" alt="image"/>
          </div>
          <div class="card__content">
            <h3 class="card__title">ԱԼԳՈՐԻԹՄ ՀԱՍԿԱՑՈՒԹՅՈՒՆԸ</h3>
            <p class="card__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis eaque necessitatibus, explicabo vero hic, perspiciatis unde minus error consectetur, quos.
            </p>
            <a href="../assets/grade_5/theoric_materials/pdf/ԱԼԳՈՐԻԹՄ  ՀԱՍԿԱՑՈՒԹՅՈՒՆԸ.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_5/theoric_materials/banners/ԱԼԳՈՐԻԹՄՆԵՐՆ ԱՌՕՐՅԱ ԿՅԱՆՔՈՒՄ և ԴՐԱՆՑ ՏԵՍԱԿՆԵՐԸ.png" alt="image"/>
          </div>
          <div class="card__content">
            <h3 class="card__title">ԱԼԳՈՐԻԹՄՆԵՐՆ ԱՌՕՐՅԱ ԿՅԱՆՔՈՒՄ և ԴՐԱՆՑ ՏԵՍԱԿՆԵՐԸ</h3>
            <p class="card__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis eaque necessitatibus, explicabo vero hic, perspiciatis unde minus error consectetur, quos.
            </p>
            <a href="../assets/grade_5/theoric_materials/pdf/ԱԼԳՈՐԻԹՄՆԵՐՆ ԱՌՕՐՅԱ ԿՅԱՆՔՈՒՄ և ԴՐԱՆՑ ՏԵՍԱԿՆԵՐԸ.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_5/theoric_materials/banners/ՏԵՔՍՏԱՅԻՆ ԽՄԲԱԳՐԻՉՆԵՐՈՒՄ ԱՂՅՈՒՍԱԿՆԵՐԻ ԵՎ ՊԱՏԿԵՐՆԵՐԻ ՏԵՂԱԴՐՈՒՄԸ.png" alt="image"/>
          </div>
          <div class="card__content">
            <h3 class="card__title">ՏԵՔՍՏԱՅԻՆ ԽՄԲԱԳՐԻՉՆԵՐՈՒՄ ԱՂՅՈՒՍԱԿՆԵՐԻ ԵՎ ՊԱՏԿԵՐՆԵՐԻ ՏԵՂԱԴՐՈՒՄԸ</h3>
            <p class="card__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis eaque necessitatibus, explicabo vero hic, perspiciatis unde minus error consectetur, quos.
            </p>
            <a href="../assets/grade_5/theoric_materials/pdf/ՏԵՔՍՏԱՅԻՆ ԽՄԲԱԳՐԻՉՆԵՐՈՒՄ ԱՂՅՈՒՍԱԿՆԵՐԻ ԵՎ ՊԱՏԿԵՐՆԵՐԻ ՏԵՂԱԴՐՈՒՄԸ.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>
        
        <li class="card">
          <div class="card__thumb">
            <img class="animate" src="../assets/grade_5/theoric_materials/banners/ՏՎՅԱԼՆԵՐԻ ՊԱՀՊԱՆՄԱՆ ՄԵԽԱՆԻԶՄՆԵՐ.png" alt="image"/>
          </div>
          <div class="card__content">
            <h3 class="card__title">ՏՎՅԱԼՆԵՐԻ ՊԱՀՊԱՆՄԱՆ ՄԵԽԱՆԻԶՄՆԵՐ</h3>
            <p class="card__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis eaque necessitatibus, explicabo vero hic, perspiciatis unde minus error consectetur, quos.
            </p>
            <a href="../assets/grade_5/theoric_materials/pdf/ՏՎՅԱԼՆԵՐԻ ՊԱՀՊԱՆՄԱՆ ՄԵԽԱՆԻԶՄՆԵՐ.pdf" class="card__btn" target="_blank">Դիտել</a>
          </div>
        </li>

      </ol>
    </section>
  </div>
</body>

</html>