<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teach+</title>
    <link rel="shortcut icon" href="../image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/videos.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <div class="info">
            <div class="logo">
                <img src="../image/logo.png" alt="logo">
                <h1>teach+</h1>
            </div>
            <div class="title">
                <span>
                    ԻՆՔՆՈՒՐՈՒՅՆ ԱՇԽԱՏԱՆՔՆԵՐ ԻՆՖՈՐՄԱՏԻԿԱՅԻՑ
                </span>
            </div>
        </div>
        <nav>
            <div class="menu">
                <ul>
                    <li onclick="location.href='welcome.html'">Գլխավոր</li>
                    <li onclick="location.href='materials.html'">Տեսական նյութեր</li>
                    <li onclick="location.href='videos.html'">Տեսադասեր</li>
                    <li onclick="location.href='lessons.html'">Գործնական աշխատանքներ</li>
                    <li onclick="location.href='tests.html'">Թեստեր</li>
                    <li  onclick="location.href='welcome.html'">Կապ մեզ հետ</li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="section1">
        <h1>Տեսադասեր</h1>
        <div>
            <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-color: aliceblue;"></div>
                  <div class="details"></div>
                </div>
                <div class="description">
                  <h1>Title</h1>
                  <h2>Տեսադասեր</h2>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                  <p class="read-more">
                    <a href="#">Դիտել</a>
                  </p>
                </div>
            </div>
            <div class="blog-card alt">
                <div class="meta">
                  <div class="photo"  style="background-color: aliceblue;"></div>
                  <div class="details"></div>
                </div>
                <div class="description">
                  <h1>Title</h1>
                  <h2>Տեսադասեր</h2>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                  <p class="read-more">
                    <a href="#">Դիտել</a>
                  </p>
                </div>
            </div>
            <div class="blog-card">
              <div class="meta">
                <div class="photo" style="background-color: aliceblue;"></div>
                <div class="details"></div>
              </div>
              <div class="description">
                <h1>Title</h1>
                <h2>Տեսադասեր</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                  <a href="#">Դիտել</a>
                </p>
              </div>
          </div>
          <div class="blog-card alt">
              <div class="meta">
                <div class="photo"  style="background-color: aliceblue;"></div>
                <div class="details"></div>
              </div>
              <div class="description">
                <h1>Title</h1>
                <h2>Տեսադասեր</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                  <a href="#">Դիտել</a>
                </p>
              </div>
          </div>
        </div>

        
           
    </div>
    
          

    
</body>
</html>